
/**
*
--------------------------------------------------------------------------------------
Yekan Bakh fonts are considered a proprietary software.
--------------------------------------------------------------------------------------
*
**/
@font-face {
    font-family: yekanBakh;
    font-style: normal;
    font-weight: 100;
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 01 Hairline.eot');
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 01 Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 01 Hairline.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 01 Hairline.ttf') format('truetype');
}

@font-face {
    font-family: yekanBakh;
    font-style: normal;
    font-weight: 200;
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 02 Thin.eot');
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 02 Thin.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 02 Thin.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 02 Thin.ttf') format('truetype');
}

@font-face {
    font-family: yekanBakh;
    font-style: normal;
    font-weight: 300;
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 03 Light.eot');
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 03 Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 03 Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 03 Light.ttf') format('truetype');
}

@font-face {
    font-family: yekanBakh;
    font-style: normal;
    font-weight: normal;
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 04 Regular.eot');
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 04 Regular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 04 Regular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 04 Regular.ttf') format('truetype');
}

@font-face {
    font-family: yekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 05 Medium.eot');
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 05 Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 05 Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 05 Medium.ttf') format('truetype');
}

@font-face {
    font-family: yekanBakh;
    font-style: normal;
    font-weight: bold;
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 06 Bold.eot');
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 06 Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 06 Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 06 Bold.ttf') format('truetype');
}

@font-face {
    font-family: yekanBakh;
    font-style: normal;
    font-weight: 800;
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 07 Heavy.eot');
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 07 Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 07 Heavy.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 07 Heavy.ttf') format('truetype');
}

@font-face {
    font-family: yekanBakh;
    font-style: normal;
    font-weight: 900;
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 08 Fat.eot');
    src: url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 08 Fat.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 08 Fat.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../public/assets/v1/fonts/yekanbakh/Yekan Bakh FaNum 08 Fat.ttf') format('truetype');
}